<div class="container-fluid ">
  <h2 class="p-5">Proyectos Web 💻</h2>
  <div class="row">
    <div class="col-sm">
      <div class="card">
        <img src="https://raw.githubusercontent.com/diegolu7/DiegoFLuis/main/asset/img/meme.png" class="card-img-top"
          alt="meme-creator">

        <div class="card-body">
          <h5 class="card-title">Meme Generator</h5>
          <p class="card-text">Generador de memes tecnologías: HTML + CSS + React.
          </p>
          <a href="#" class="btn btn-primary">Ir a la Web</a>
        </div>
      </div>
    </div>
    <div class="col-sm">
      <div class="card">
        <img src="https://raw.githubusercontent.com/diegolu7/DiegoFLuis/main/asset/img/mundolibros.png"
          class="card-img-top" alt="Tienda-Libros">

        <div class="card-body">
          <h5 class="card-title">Mundo Libro</h5>
          <p class="card-text">Tienda de libros autoadministrable: php + mysql.
          </p>
          <a href="#" class="btn btn-primary">Ir a la Web</a>
        </div>
      </div>
    </div>
    <div class="col-sm">
      <div class="card">
        <img src="https://raw.githubusercontent.com/diegolu7/DiegoFLuis/main/asset/img/pokeapi.png" class="card-img-top"
          alt="pokeapi">

        <div class="card-body">
          <h5 class="card-title">Pokedex</h5>
          <p class="card-text">Consumiendo la API de https://pokeapi.co/ : Javascript - Fetch.
          </p>
          <a href="#" class="btn btn-primary">Ir a la Web</a>
        </div>
      </div>
    </div>
    <div class="row"></div>
    <div class="col-sm">
      <div class="card">
        <img src="https://raw.githubusercontent.com/diegolu7/DiegoFLuis/main/asset/img/calcujs.png" class="card-img-top"
          alt="calcu">

        <div class="card-body">
          <h5 class="card-title">Calculadora!</h5>
          <p class="card-text">Calculadora : Vanilla Javascript.
          </p>
          <a href="#" class="btn btn-primary">Ir a la Web</a>
        </div>
      </div>
    </div>
    <div class="col-sm">
      <div class="card">
        <img src="https://raw.githubusercontent.com/diegolu7/DiegoFLuis/main/asset/img/tateti.png" class="card-img-top"
          alt="Tateti">

        <div class="card-body">
          <h5 class="card-title">Tateti</h5>
          <p class="card-text">Tecnologias empledas: jQuery.
          </p>
          <a href="#" class="btn btn-primary">Ir a la Web</a>
        </div>
      </div>
    </div>
    <div class="col-sm">
      <div class="card">
        <img src="https://raw.githubusercontent.com/diegolu7/DiegoFLuis/main/asset/img/cousinweb.png"
          class="card-img-top" alt="Tateti">

        <div class="card-body">
          <h5 class="card-title">Cousin Web</h5>
          <p class="card-text">Landing page: HTML + CSS + Responsive.
          </p>
          <a href="#" class="btn btn-primary">Ir a la Web</a>
        </div>
      </div>
    </div>
  </div>
</div>