<footer class="navbar navbar-expand-lg navbar-dark bg-dark">

  <div class="container-fluid">
    <img width="155px" class="navbar-brand mx-5"
      src="https://argentinaprograma.inti.gob.ar/pluginfile.php/1/theme_moove/logo/1648503444/APLogo-20-20.png"
      alt="arg-programa">


    <div>
      <ul class="navbar-nav  ">
        <li class="nav-item">
          <a class="nav-link " href="#">
            <i class="fa-brands fa-twitter-square icon-footer mx-2"></i>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link " href="#">
            <i class="fa-brands fa-facebook-square icon-footer mx-2"></i>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link " href="#">
            <i class="fa-brands fa-instagram-square icon-footer mx-2"></i>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link " href="#">
            <i class="fa-brands fa-github-square icon-footer mx-2"></i>
          </a>
        </li>
      </ul>

    </div>
  </div>
</footer>