<div class="container-fluid p-3">
  <h2>Experiencia 💼 </h2>
  <p>He trabajado en proyectos freelance, usando
    herramientas como Clickup (Scrum), Git y VS
    Code.</p>
  <h2>Educación 📚</h2>
  <ul class="list-group">
    <li class="list-group-item">🔺 Programación en C - <i>Introduccion a la programación</i> - UNSa</li>
    <li class="list-group-item">🔺 Programación en Scilab - <i>Super Calculadora</i> - UNSa</li>
    <li class="list-group-item">🔺 Programación en php - <i> php</i> - POLOTIC Misiones</li>
    <li class="list-group-item">🔺 Javascript - Course IT</li>
    <li class="list-group-item">🔺 Programación Full Stack - <i>Angular + Java </i>- ARGENTINA PROGRAMA</li>
    <li class="list-group-item">🔺 Programación Web Full Stack - <i>Diseño Web + Programación Web + React JS + Back
        End</i>
      - NUCBA</li>
    <li class="list-group-item">🔺 Programación Java - <i>Java + Spring Boot</i> - MIL PROGRAMADORES SALTEÑOS </li>
    <li class="list-group-item">🔺 Curso de Ingles IT - POLOTIC Misiones</li>
    <li class="list-group-item">🔺 Introducción a React - Course IT</li>
  </ul>
</div>