<nav class="navbar navbar-expand-lg navbar-dark bg-dark">

  <div class="container-fluid">
    <img width="155px" class="navbar-brand mx-5"
      src="https://argentinaprograma.inti.gob.ar/pluginfile.php/1/theme_moove/logo/1648503444/APLogo-20-20.png"
      alt="arg-programa">
    <button class="navbar-toggler " type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01"
      aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav mx-auto">
        <li class="nav-item">
          <a class="nav-link active" href="#">Inicio
            <span class="visually-hidden">(current)</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Sobre mi</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Experiencia</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Estudios</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Proyectos</a>
        </li>
      </ul>
      <form class="d-flex mx-5">
        <button class="btn btn-secondary my-2 my-sm-0 color" type="submit">Login</button>
      </form>
    </div>
  </div>
</nav>