<main class="container-fluid">
  <div class="img-welcome">
    <img src="https://cdn.pixabay.com/photo/2021/09/12/07/58/banner-6617553_960_720.jpg" class="img-fluid" width="100%"
      height="auto" alt="img-welcome">
    <div class="info">
      <div class="info-img rounded-circle">
        <img width="200px" class="rounded-circle" src="https://diego-dev.netlify.app/asset/img/diego.jpg"
          alt="diego-img">

      </div>
      <div class="info-main">
        <h2 class="m-1 p-3">Diego F. Luis 💻</h2>
        <p class=" m-1 px-5  ">Soy de la Ciudad de Salta, Argentina. Programador freelance,
          Autodidacta,
          Actualmente
          cursando Argentina Programa 2°
          etapa, Además programación en java-1000 Programadores, Bootcamp Full Stack MERN en plataforma virtual NUCBA 🚀
        </p>
      </div>
    </div>
  </div>
</main>